.storePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F2F2F3;
    margin-top: 70px;
}
.storeListContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
    padding: 20px 160px;
    margin-bottom: 10px;
}
.searchInput {
    width: 300px;
    padding: 10px 15px;
    font-size: 16px;
    margin: 50px auto 10px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}
.cartBtn {
    margin: 10px auto 50px;
    background-color: #008285;
    color: #ffffff;
    padding: 14px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-self: center;
    font-size: 20px;
}
/*          responsiveness       */
@media screen and (max-width: 768px) {
    .storeListContainer {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 100px;
    }
}
@media screen and (max-width: 426px) {
    .storeListContainer {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px 10px;
        margin-bottom: 10px;
    }
}