.navbarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    position: fixed;
    top: 0px;
    width: 100vw;
    background-color: #FFFFFF;
    padding: 0px 70px;
}
.navbarContainer > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.navbarContainer > button:nth-of-type(1) {
    font-size: 22px;
    font-weight: 800;
    color: #008285;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbarContainer > button:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}
.navbarContainer > button:nth-of-type(2) svg {
    margin-left: 2px;
}